body# {
margin: auto;
width: 900px;
}

.madlib h1 {
text-align: center;
margin: auto;
text-decoration: underline;
font-size: 80px;
}

.madlibtxt {
font-size: 20px;
width: 1200px;
}

.variable {
text-decoration: underline;
color: blue;
}

body#doc {
}

#otpt {
width: 1300px;
height: 840px;
background-color: lightblue;
margin: auto;
padding: 80px 150px 80px 150px;
}

button {
margin: 10px 0px 5px 0px;
height: 100px;
width: 100px;
}

#buttons {
margin: auto;
width: auto;
text-align: center;
}

#paper {
font-size: 50px;
text-align: center;
}

#eventh1 {
margin: auto;
font-size: 70px;
text-decoration: underline;
text-align: center;
}
