body {
width: 900px;
margin: auto;
}

.madlib h1 {
text-align: center;
margin: auto;
text-decoration: underline;
font-size: 80px;
}

.madlibtxt {
font-size: 20px;
width: 1200px;
}

.variable {
text-decoration: underline;
color: blue;
}
